body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #001f3f;
    padding: 6px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 46px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
}

.button {
    background-color: #ffffff;
    color: #001f3f;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #f0f0f0;
}

.content {
    width: 100%;
    text-align: center;
}

.large-text {
    font-size: 4em;
    font-weight: bold;
    color: #001f3f;
    margin-bottom: 20px;
}

.medium-text {
    font-size: 1.5em;
    color: #333333;
    margin-bottom: 20px;
}

.form-container {
    width: 100%;
    margin-top: 20px;
}

.form-container form {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container input,
.form-container button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {
    background-color: #001f3f;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

@media only screen and (max-width: 414px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .nav-links {
        margin-top: 10px;
    }

    .logo {
        margin-bottom: 10px;
    }

    .section {
        padding: 15px;
    }

    .button {
        width: 100%;
    }
}